	<!-- Carousel ------------------------------------------------------------------>
<div class="carousel carousel--img--two"> <!-- absolute positioning -->
			
	<div class="content--wrapper--form">

		<div class="form--wrapper">	
			<div class="form--title">
				<h2 >Inscription</h2>
			</div>
			
			<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
			<%= devise_error_messages! %>
						<div class="form">
						
						<div class="field ff">
							<%#= f.label :username %><br />
							<%= f.text_field :username, autofocus: true, placeholder: :pseudo%>
						</div>

						<div class="field ff">
							<%#= f.label :email %><br />
							<%= f.email_field :email, autocomplete: "email" , placeholder: :email%>
						</div>

						<div class="field ff">
							<%#= f.label :password %>
						<!--  
								<em><% if @minimum_password_length %>(<%#= @minimum_password_length %> characters minimum)</em>
							<% end %><br />
						-->	
					
							<%= f.password_field :password, autocomplete: "off", placeholder: :mot_de_passe %>
						</div>

						<div class="field ff">
							<%#= f.label :password_confirmation %><br />
							<%= f.password_field :password_confirmation, autocomplete: "off", placeholder: :confirmer_mot_de_passe %>
						</div>

						<div class="field ff" id="avatar--choose">
							<%= f.label :avatar do %>
								<%= f.file_field :avatar %>
								<%= f.hidden_field :avatar_cache %>
							<% end %>
						</div>

						<div class="actions">
							<%= f.submit "Sign up" %>
						</div>
									
						<div class="devise--link">
							<%= render "devise/shared/links" %>
						</div>	
		
				</div>
			<% end %>
		</div>
	</div>

</div>	
<!-- Carousel fin
	