
    <nav class="nav--top navbar navbar-fixed-top">
   
        <div class="navbar-header">
      <!--
		--><button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <%= link_to  "Bribe",  events_path, class: "navbar-brand top--sitename" %>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="nav-item "><a class="top--item dropdown" href="/">Home</a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle top--item" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Catégories <span class="caret"></span></a>
                <ul class="dropdown-menu drop--ul">
						<div class="dropdown--items">  
							<li><a class="top--item" href="/events/category/0">Concerts</a></li>
							<li><a class="top--item" href="/events/category/1">Expos</a></li>
							<li><a class="top--item" href="/events/category/2">Spectacles</a></li>
							<li><a class="top--item" href="/events/category/3">Sport</a></li>
							<li><a class="top--item" href="/events/category/4">Loisirs</a></li>
							<li><a class="top--item" href="/events/category/5">Nature</a></li>
						</div>
                </ul>
             </li>
         	</ul>
<!-- AVATAR -->
			<% if user_signed_in?%>
		
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown dropdown--user">
						
						<a href="#" class="dropdown-toggle top--item" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<span id="top--username"><%= current_user.username %></span>
							<%= image_tag  current_user.avatar.thumb.url, size:35, id:"avatar--img"%>      
						</a>
					
					
						<ul class="dropdown-menu drop--ul">
							<div class="dropdown--items">  
								<li><%= link_to  "Editer mon profil", edit_user_registration_path, class:"top--item" %></li>
								<li><a class="top--item" href="/users/<%= current_user.id %>/events">Mes evenements</a></li>    
								<li><%= link_to  "Déconnexion", destroy_user_session_path, method: :delete, class:"top--item"%></li>
 
							</div>						
						</ul>
					</li>
				</ul>
				
		<%end%>

       <!--/.nav-collapse -->
		 </div>
    </nav>
