
    <nav class="nav--top navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <%= link_to  "Evenements",  events_path, class: "navbar-brand top--item" %>
        </div>



        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="nav-item "><a class="top--item" href="/">Home</a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle top--item" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Catégorie <span class="caret"></span></a>
                <ul class="dropdown-menu drop--ul">
                  <li><a class="top--item" href="/events/category/1">Concerts</a></li>
                  <li><a class="top--item" href="/events/category/2">Expos</a></li>
                  <li><a class="top--item" href="/events/category/3">Spectacles</a></li>
                  <li><a class="top--item" href="/events/category/4">Sport</a></li>
                  <li><a class="top--item" href="/events/category/5">Loisirs</a></li>
                  <li><a class="top--item" href="/events/category/6">Nature</a></li>
                </ul>
             </li>
          </ul>
				
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle avatar--drop" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
       <!--avatar dans dropdown-->  
  </a>
			          <% if user_signed_in?%>
						<span><%= current_user.username %></span>
            <%if  !current_user.avatar.file.nil?%>      
                    <%=link_to image_tag(current_user.avatar.thumb.url,  size: "40", id:"avatar--top"), edit_user_registration_path %>          
            <%else%>       
                  	<%=link_to image_tag("avatar_default",  size: "40", id:"avatar--top"), edit_user_registration_path %>
            <% end %>
			</div>

         
        <!--avatar-->
          
                <ul class="dropdown-menu drop--ul">
                
                  <li> <a href="/users/<%= current_user.id %>/events"> Mes evenements</a></li>
                  <li><%= link_to 'Editer mon profil', edit_user_registration_path %></li>             
                  <li><%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete%></li>
             
                </ul>
             </li>
      <% end %>
     
           
         </div>
       <!--/.nav-collapse -->
      </div>
    </nav>