
<!-- Carousel ------------------------------------------------------------------>
<div class="carousel carousel--img--one">

				<div class="home--welcome--box ">
					<h2>Organisez et invitez-vous <br> à des évenements près de chez vous!</h2></p>

						<% if user_signed_in? %>
						<p><%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete%></p>
						<p><%= link_to 'Organiser un évenement', new_event_path%></p>
						<% else %>
							<p><%= button_to 'Se connecter', new_user_session_path, id:"button--connect"%></p>
						<% end %>		
			
				</div>		
</div>	
<!-- Carousel fin ------------------------------------------------------------------>
		
		<div class="home--events--wrap">
					<div class="home--section--head">
			<h1 class = "section--title">Evenements populaires</h1>
		</div>

		<div class="grid--wrapper">
				
				<% popular(@events, 1).each do |event| %>
			
			
			<div class="event">
			<a href="/events/<%=event.id%>">
				<div class="event--details">
					<h2 class="event--title"><%= event.title %></h2>
				</a>
						<p>Le <span class="date"><%= formatted_date(event.date)%></span>  à <span class="date"> <%= formatted_time(event.time) %></span>
						<p><%= event.address.titleize %></p>

						<p class = "event--creator"> Créé par <a href="/users/<%=event.creator_id%>/events">"<%= event.creator.username %>"</p></a>
				</div>

								<!--IMAGE -->
				
				<div class="event--pic">
							<a href="/events/<%=event.id%>">							
								<%= image_tag "#{event.image.thumb.url}" %>
							</a>
				</div><!--IMAGE  fin -->
			</div> <!-- event fin -->
				<% end %>
		</div> <!--section-wrapper fin -->
		
	</div>
