
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
 
        <h2>Profitez des autres</h2>
        <h4>Dans le bon sens du terme</h4>
        <p>Organisez et invitez-vous à des évenements près de chez vous!</p>
        
        <% if user_signed_in? %>
         <p><%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete%></p>
         <p><%= link_to 'Organiser un évenement', new_event_path%></p>
        <% else %>
          <p><%= link_to 'Se connecter', new_user_session_path%></p>
        <% end %>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
    <% @events_recent.each do |event| %>
        
       <div class="col-lg-6 event">
         <div class="event-details">
         <p><a href="events/<%=event.id%>"><%=event.title%></a></p>
          <p>Le <%= formatted_date(event.date)%> à  <%= formatted_time(event.time) %>
          </p>
          <p> <%= event.id%></p>
          <p><%= event.description.truncate(450, separator: ' ')%></p>
          <p> Créé par <a href="/creator/<%=event.creator.id%>">"<%= event.creator.username %>"</p></a>
         </div>
         <% if has_image(event)%>
         <div event-pic>
           <p><%= image_tag  event.image_url %></p>
         </div>
         <% end %>
       </div>
     
    <% end %>
      <hr>
      <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->