
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
 
        <h2>Profitez des autres</h2>
        <h4>Dans le bon sens du terme</h4>
        <p>Organisez et invitez-vous à des évenements près de chez vous!</p>
        
        <% if user_signed_in? %>
         <p><%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete%></p>
         <p><%= link_to 'Organiser un évenement', new_event_path%></p>
        <% else %>
          <p><%= link_to 'Se connecter', new_user_session_path%></p>
        <% end %>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
    <% @events_recent.each do |event| %>
        
       <div class="col-sm-6 event">
          <a href="event/<%=event.id%>"><%= event.title %></h2></a>
          <p> <%= event.date%></p>
          
          <p><%= event.description%> Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          Inventore perferendis voluptatum excepturi, consequatur, recusandae, nulla provident 
          hic eligendi quae eos, explicabo et iusto! Similique aliquam laborum quidem minima iusto!
          Deserunt, similique, aliquid? Dolorem architecto magnam aspernatur odio reprehenderit 
          quibusdam quas, unde vel obcaecati 
          eaque possimus.
          </p>
          <p> Créé par <a href="/creator/<%=event.creator.id%>">"<%= event.creator.username %>"</p></a>
       </div>
     
    <% end %>
      <hr>

      <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->