<div class="content--wrap">
	<div class="category--nav">
		<div class="container">
				<h1 class = "section--title"><%=@category.title %></h1>
		</div>
	</div>
<div class="grid--outer">

		<div class="grid--wrapper">
			<% @events.each do |event| %>
								
				<div class=" event">
						<div class="event--details">
										<a href="/events/<%=event.id%>" class="event--title"><%= event.title %></h2></a>
						<p>Le <span class="date"><%= formatted_date(event.date)%></span>  à <span class="date"> <%= formatted_time(event.time) %></span>
											
											<p class = "event--creator"> Créé par <a href="/users/<%=event.creator_id%>/events">"<%= event.creator.username %>"</p></a>
											
							</div>

							<!--IMAGE SI FOURNIE -->
			
							<div class="event--pic">												
										<%= image_tag "#{display_default_image(event)}"%>
											<button>S'incrire</button>
								</div>
				
				</div>
			<% end %>
		</div>
		
	</div>  <!--grid outer end-->
	<%= will_paginate @events %>

</div>