<div class="container">
    <% @events.each do |event| %>
              
      <div class=" event">
          <div class="event--details">
                  <a href="/events/<%=event.id%>"><%= event.title %></h2></a>
                    <p>Le <%= formatted_date(event.date)%> à <%= formatted_time(event.time)%> </p>
                     
                    <p> Créé par <a href="/users/<%=event.creator_id%>/events">"<%= event.creator.username %>"</p></a>
                    
            </div>

            <!--IMAGE SI FOURNIE -->
    
            <div class="event-pic">
              <% if has_image(event)%>      
                      
									<%= image_tag "#{event.imageurl}"%>
                    <button>S'incrire</button>
                   
							<% elsif has_url(event)%>
									<%= image_tag "#{event.imageurl}" %>
  
            <% end %>
            </div>
      
      </div>
    <% end %>
</div>