

<div class="container">
    
    <% if !@creator.avatar.file.nil? %>
        <h1><%=@creator.username%></h1>
        <p><%=image_tag(@creator.avatar.thumb.url)%></p>
        <% else %>
         <p><%=image_tag("avatar_default.jpeg")%></p>
    <% end %>

    <% @events.each do |event| %>
      <% @description = event.description.to_s %>
              
      <div class="event">
          <div class="event-details">
                  <a href="/events/<%=event.id%>"><%= event.title %></h2></a>
                    <p>Le <%= formatted_date(event.date)%> à  <%= formatted_time(event.time) %>
               
              <!-- Gestion de la longueur de la description (extrait si > 300 caractères) -->            
                    <p><%= @description.truncate(450, separator:' ') %></p>
              <!-- Gestion de la longueur de la descriptions - fin -->
                     </div>
                <% if has_image(event)%>      
                       <div class="event-pic">   
                       
                                <%= image_tag(event.image_url)%>
                                <button>S'incrire</button>
                    
                     </div>
                <% end %>
                    </div>
        <% end %>
    </div>
