	<!-- bandeau  (absolute)-->
		<!-- bandeau -->
	<div class="content--wrap">

	<!-- week-end  -->
		<div class="section--head " id="section--head--first" >
			<h1 class = "section--title"> Ce Week-End</h1>
		</div>

	
	<div class="grid--outer">
		<div class="grid--wrapper">
				
				<% @weekend.each do |event| %>
			
			<div class="event">
			<a href="/events/<%=event.id%>">
				<div class="event--details">
					<h2 class="event--title"><%= event.title %></h2>
				</a>
						<p>Le <span class="date"><%= formatted_date(event.date)%></span>  à <span class="date"> <%= formatted_time(event.time) %></span>
						<p class ="event--address"><%= event.address.titleize %></p>

						<p class = "event--creator"> Créé par <a href="/users/<%=event.creator_id%>/events">"<%= event.creator.username %>"</p></a>
				</div>

								<!--IMAGE -->
				
				<div class="event--pic">
							<a href="/events/<%=event.id%>">							
								<%= image_tag "#{display_default_image(event)}" %>
							</a>
				</div><!--IMAGE  fin -->
			</div> <!-- event fin -->
				<% end %>
		</div> <!--section-wrapper fin -->
	</div>
		<!-- week end fin /concerts  debut-->




			<div class="section--head">
				<h1 class = "section--title">Concerts</h1>
			</div>

		<div class="grid--outer">
			<section class="grid--wrapper">
				<%  @concerts.each do |event|%>
							
					<div class="event">
						<a href="/events/<%=event.id%>">
							<div class="event--details">
									<a href="/events/<%=event.id%>" class="event--title"><%= event.title %></h2></a>
										<p>Le <span class="date"><%= formatted_date(event.date)%> </span>à <span class="date"><%= formatted_time(event.time)%> </span><p>
										<p class ="event--address"><%= event.address.titleize %></p>
											
										<p class="event--creator"> Créé par <a href="/users/<%=event.creator_id%>/events">"<%= event.creator.username %>"</p></a>
						</a>
								</div>
							
								<!--IMAGE -->
				
							<div class="event--pic">
								<a href="/events/<%=event.id%>">
									<%= image_tag "#{display_default_image(event)}" %>			
								</a> <!--IMAGE  fin-->
							</div>
							
					</div>
						
			

				<% end %> <!-- events from category fin-->
			<section><!-- category fin-->
		</div>				<!--wrap fin -->
	</div>
