<div class="event-header">
    <h1><%= @event.title %></h1>
    <p>Le <%= formatted_date(@event.date)%> à  <%= formatted_time(@event.time) %>
    <p id="event_address"><%= @event.address %></p>
	<p>Créé par <%= @event.creator.username %></p>

 <!-- Inscription start-->      
<% if user_signed_in?%>
            <%if current_user.attended_evts.include?(@event) %>
                <p>Vous êtes déja inscrit à cet évenement</p>
           <%elsif current_user.id == @event.creator_id%>
                <p>Vous êtes le créateur de l'évenement</p>
            <%else%>
             <%= button_to "S'inscrire", action: "subscribe" %>
            <%end%>
    <%end%>
	 <!-- Inscription end-->

	<% if has_image(@event) %>
     <%= image_tag "#{@event.image.thumb.url}" %>
	<% elsif has_url(@event)%>
		<%= image_tag "#{@event.imageurl}" %>
		<p>J'ai une URL!!</p>
	<% end %>
</div>

<div class="event-body">
    <p>
        <%= @event.description %>
    </p>        
</div>

<div class="attendees">
	<p><%= @event.attendees.count %> inscrits dont:</p>
	
 		<% @attendees.each do |attendee|%>
		 	<p><%= image_tag  "#{ attendee.avatar.thumb.url}" %></p>
			<p><%=  attendee.username %></p>
		<% end %>	
</div>
	 
<!-------------------------------------------- MAP based on event.address -------------------------------------------------- -->
	<div id="map"></div>
	<%= render 'maps' %>

