<div class="content--wrap"> 
			
				<!-- INFOS user-->
			<div class="organizer">

				<% if !@user.avatar.file.nil? %>
				
						<p class="organizer--avatar"><%=image_tag(@user.avatar.thumb.url)%></p>
						<% else %>
						<p class="organizer--avatar"><%=image_tag("avatar_default.jpeg")%></p>
				
				<% end %>
						<h1 class="organizer--username"><%=@user.username%></h1>		
			</div>
		<div class="grid--outer">
			<div class="grid--wrapper">

				<% @events.each do |event| %>
					<% @description = event.description.to_s %>
									
					<div class="event">
							<div class="event--details">
											<a class="event--title" href="/events/<%=event.id%>">
												<%= event.title %>
											</a>
												<p>Le <span class="date"><%= formatted_date(event.date)%></span>  à <span class="date"> <%= formatted_time(event.time) %></span>
												<p><%= event.address.titleize %></p>
							</div>
							<div class="event--pic">   
											<%= image_tag "#{event.image.thumb.url}"%>
											<button>S'incrire</button>
							</div>			
						</div>
				
				<% end %>
			</div>	<!-- grid end -->
		</div>		<!-- grid--outer end -->	
	<%= will_paginate @events %>
		</div>
	</div>

