<div class="container">
    <% @events.each do |event| %>
      <% @description = event.description.to_s %>
              
      <div class="col-md-6 event">
          <div class="event-details">
                  <a href="/event/<%=event.id%>"><%= event.title %></h2></a>
                    <p> <%= event.date%></p>
               
              <!-- Gestion de la longueur de la description (extrait si > 300 caractères) -->            
                    <p><%= @description.truncate(500, separator:' ') %></p>
              <!-- Gestion de la longueur de la descriptions - fin -->
                     
                    <p> Créé par <a href="/creator/<%=event.creator.id%>">"<%= event.creator.username %>"</p></a>
                    
                    <!--IMAGE-->
                    
                     </div>
                   
          <div class="event-pic">
                <%= image_tag(event.image_url)%>
          </div>
      </div>
    <% end %>
</div>