<%= form_for @event, url: {action: "create"}, html: {class: "event-f"} do |f| %>
    
    <!-- ERREURS ?-->
    
    <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2>Il y a <%= pluralize(@event.errors.count, "erreur") %> dans la création de cet évenement</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <!-- FIN ERREURs -->
    
    <p><%= f.label(:nom)%></p>
    <p><%= f.text_field(:title, size:50, required: true) %></p> 
   
    <p><%= f.label(:date)%></p>
    <p><%= datetime_local_field(:event, :date, required: true) %></p>
   
    <p><%= f.label(:adresse)%></p>
    <p><%= f.text_field(:address, size:50, required: true) %> </p>
    
    <p><%= f.label(:description)%></p>
    <p><%= f.text_area(:description, cols:60, rows:8, required: true)%></p>
    
    <p><%= f.submit "Create" %></p>
<% end %>

<!-- Gérer les erreurs -->