<div class="carousel carousel--img--two"> <!-- absolute positioning -->
	<div class="content--wrapper--form">
		<div class="form--wrapper">
			<div class="form--title">
				<h2 >Connexion</h2>
			</div>
			

			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			<div class="form">
				
					<div class="field">
						<%#= f.label :login %><br />
						<%= f.text_field :login, autofocus: true, placeholder: :pseudo_ou_email %>
					</div>

					<div class="field">
						<%#= f.label :password %><br />
						<%= f.password_field :password, autocomplete: "off",placeholder: :mot_de_passe %>
					</div>

					<% if devise_mapping.rememberable? %>
						<div class="fflex">
							<%= f.check_box :remember_me %>
							<%= f.label :remember_me %>
						</div>
					<% end %>

					<div class="actions">
						<%= f.submit "Log in" %>
					</div>

					<div class="devise--link">
					<%= render "devise/shared/links" %>
				</div>	
			</div>
				<% end %>
		
				
		</div>
	</div>
</div>