<!DOCTYPE html>
<html>
  <head>
    <title>Bribe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       
    <%= render 'home/header'%>
    <%= yield %>
    
    <%= debug user_signed_in? %>
    <%= debug "username: "+ current_user.username %>
    <%= debug session.to_hash%>
  </body>
</html>
